.mbti-screen-scroll-view {
    width: 100%;
    height: 100%;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.mbti-screen-scroll-view #unity-content-container {
    justify-content: center;
    align-items: center;
}

.list-view {
}

.list-view .unity-scroll-view__content-container {
    flex-direction: row;
}
